*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    list-style: none;
}

header h1 span {
    color: #71c55d;
}

header h1 {
    font-size: 30px;
    margin: 0;
    font-weight: 700;
    color: var(--heading-color);
}

header{
    /* color: var(--default-color); */
    /* background-color: var(--background-color); */
    padding: 15px 0;
    /* transition: all 0.5s;
    z-index: 997; */
}
header nav ul li{
    padding: 18px 15px;
}